# Primera Parte: Carga de Datos

In [2]:
import pandas as pd

In [3]:
# En esta parte se carga la Data y se visualiza la cantidad de campos que se tiene en la data.
Uni=pd.read_csv('qs-world-university-rankings-2017-to-2022-V2.csv')
Uni.head()
Uni.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6482 entries, 0 to 6481
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   university              6482 non-null   object
 1   year                    6482 non-null   int64
 2   rank_display            6414 non-null   object
 3   score                   2820 non-null   float64
 4   link                    6482 non-null   object
 5   country                 6482 non-null   object
 6   city                    6304 non-null   object
 7   region                  6482 non-null   object
 8   logo                    6482 non-null   object
 9   type                    6470 non-null   object
 10  research_output         6480 non-null   object
 11  student_faculty_ratio   6407 non-null   float64
 12  international_students  6318 non-null   object
 13  size                    6480 non-null   object
 14  faculty_count           6404 non-null   object
dtypes: float64(2), int64(1), object(12)
memory usage: 759.7+ KB

In [4]:
#Seleccionando los campos con los que se va a trabajar la limpieza.
Uni=Uni[['research_output','international_students','type','score',]]

In [5]:
#ver el numero de registros null.
Uni.isna().sum()

research_output              2
international_students     164
type                        12
score                     3662
dtype: int64

In [6]:
#Hallando la media del campo score.
Uni['score']=Uni['score'].mean()
Uni.isna().sum()

research_output             2
international_students    164
type                       12
score                       0
dtype: int64

In [7]:
#llenando de el tipo de universidad con private o public. 
import random as rd
tipos=['private','public']
def filltype(tipo):
 i=rd.randint(0,1) # rango de 0 a 1
 tipo=tipos[i]
 return tipo
Uni['type'] = Uni['type'].apply(filltype) # aplicando los cambios

In [8]:
Uni['type']

0       private
1       private
2       private
3        public
4       private
         ...
6477     public
6478     public
6479    private
6480     public
6481     public
Name: type, Length: 6482, dtype: object

In [9]:
Uni.isna().sum()

research_output             2
international_students    164
type                        0
score                       0
dtype: int64

In [10]:
quality=['very high','medium','high','low']
def fillquality(tipo):
 i=rd.randint(0,3)
 tipo=quality[i]
 return tipo
Uni['research_output']=Uni['research_output'].apply(fillquality)

In [11]:
Uni.isna().sum()
#comvercion a  minuscula
Uni['research_output']=Uni['research_output'].str.lower()

In [12]:
Uni.tail(10)

     research_output international_students     type      score
6472            high                  1,003   public  46.595532
6473       very high                    373  private  46.595532
6474            high                  1,244  private  46.595532
6475             low                  2,441  private  46.595532
6476            high                  1,976  private  46.595532
6477            high                     57   public  46.595532
6478       very high                    585   public  46.595532
6479            high                  2,826  private  46.595532
6480            high                  2,394   public  46.595532
6481       very high                  2,300   public  46.595532